body {
    font-size: auto;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(247,185,239);
    background: radial-gradient(circle, rgba(247,185,239,1) 0%, rgba(148,233,231,1) 100%);
}

h1 {
    color: #FF95EF;
    text-shadow: #eb45d2 2px 2px;
    text-align: center;
    font-size: 3.0em;
    margin: 0.5em 0 0.5em 0;
    padding: 0;
}

h2 {
    color: #FF95EF;
    text-shadow: #eb45d2 2px 2px;
    font-family: monospace;
    font-size: 2.0em;
}

p {
    color: #6e6892;
    font-size: 1.7em;
    font-style: italic;
    line-height: 1.4em;    
    padding: 0px;
    margin: 0px 0.5em 0.75em 0px;

}

a, a:visited {
    color: #eb45d2;
}

a:hover {
    color: purple;
}

header {
    padding: 0.5em 1em 0.5em;
    margin: 0 0 0.5em;
    border-radius: 0.6em;
    background-color: whitesmoke;
    background: url(assets/cudot.png) 100% 100% repeat;
    text-align: right;    
}

header h4 {
    color: #eb45d2;
    font-family: monospace;
    font-size: 1.2em;
    letter-spacing: 0.2em;
}

header .logo {
    float: left;
    width: 25%;
    height: 25%;
}

input[type=email] {    
    padding: 12px 20px;
    width: 20em;
    border: none;
}

input[type=email]:focus {
    background-color: #ffd9f9;    
    outline: none;
}

input[type=search] {
    padding: 12px 20px;
    width: 23em;
    border: none;
}

input[type=search]:focus {
    background-color: #ffd9f9;    
    outline: none;
}

::placeholder { 
    color: #ff9df0;
    
}

nav {
    background-color: #ffd9f9;
    color: white;
    font-size: 1.5em;
    border-radius: 0.8em;
}

nav ul {
    margin: 0.5em;
    padding: 10px 3px 10px 3px;
    list-style: none;
    text-align: center;
}

nav li {    
    font-family: monospace;
    display: inline-block;
    margin: 0 0.5em 0 0.5em;
}

/*Review sidebar*/
section#left-sidebar {
    background-color: #ffecfc;
    border: plum dashed 5px;
    border-radius: 0.6em;
    width: 238px;
    float: left;
    position: relative;
    display: block;
    margin: 5.5em 2em 3.0em 1.5em;
    padding: 1.7em 0.5em 2.0em 1.7em;
}

section #main {
    background-color: #ffd9fc;
    margin: 0 0 2.0em;
    padding: 1.5em  0 2.0em 1.5em;
    display: inline-block;
    border-radius: 2em;
    box-shadow: 1px 1px 5px #777;
   }

.middle {
    font-family: monospace;
}

/*Popular items*/
.image {
    background-color: white;
    opacity: 1;    
    width: 300px;
    height: 300px;
    margin-left: 2%;
    border-radius: 0.6em;
    padding: 1em;
    transition: .5s ease;
    backface-visibility: hidden;
}

.main1 img:hover {   
    background-color: white;
    opacity: 0.3; 
    width: 300px;
    height: 300px;
    padding: 1em;
}

/*Featured items image*/
.main-two img {
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 1em;
    padding: 5em;    
}

/*New Items section*/
.image-three {    
    background-color: white;
    opacity: 1;
    margin-left: 10%;
    margin-right: auto;
    width: 300px;
    height: 300px;
    border-radius: 0.6em;
    padding: 1em;
    transition: .5s ease;
    backface-visibility: hidden;
}

.main-three img:hover {   
    background-color: white;
    opacity: 0.3; 
    width: 300px;
    height: 300px;
    padding: 1em;
}

/*Footer w/columns*/
#footer {
    background-color: #ffd9f9;
    padding: 0.5em 0 0.5em 2em;
    border-radius: 1em;
    font-size: 1.5em;
}

.column {
    float: left;    
    width: 33%;   
}
    
.row:after {
    content: "";
    display: table;
    clear: both;
}

